.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FD8036;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding: 2px;
  font-color: #FFFFFF;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Note-create-button {
  float: right;
  clear: right;
  width:50px;
  height:50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  padding: 10px;
  margin: 5px;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.Note-create-button:hover {
    background: #262626;
}
