.Note-card {
  background-color: #ACD2EA;
  display: block;
  height: 200px;
  width: 200px;
  margin: 15px;
}
.Note-title {
  text-align: center;
  margin: auto;
  padding: 4px;
  display: block;
  height: 25%;
  border-bottom:1px solid #000;
}
.Note-text {
  margin-top: 30px;
  text-align: center;
  display: block;
  height: 75%;
}
.Note-create-backdrop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
 }
.Note-create-modal{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 9999;
  background: #fff;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Note-form {
  width: 300px;
  max-width: 300px;
  height: 250px;
  background: #f4f7f8;
  border-radius: 8px;
}
.Note-form-field{
  background: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 12px;
  width: 80%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}
.Note-label {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
}
